<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./component/head.ejs',{title:'회원 가입'})  %>
</head>
<body>
    <div class="container">
        <%- include('./component/header.ejs',{blind:true})  %>
        <div class="text-start my-5">
            <h1>🚨 404 Error</h1>
            <p>죄송합니다. 해당 URL은 접근할 수 없는 주소 입니다</p>
        </div>
        <div class="d-flex justify-content-between gap-3">
            <a href="/" class="btn btn-secondary my-3">HOME으로 이동</a>
        </div>
    </div>
</body>
</html>