<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mvc SQL</title>
</head>
<body>
    <h1>mvc패턴과 MYSQL 연결</h1>
    <p><a href="/visitor">방명록 남기기</a></p>
    <p><a href="/visitor1">404에러 페이지 보이기</a></p>
</body>
</html>