<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center justify-content-start gap-2">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" style="font-size: 2rem;">
                <i class="bi bi-bootstrap"></i>
            </a>
            <ul class="nav col-lg-auto me-lg-auto mb-2 justify-content-start mb-md-0">
                <li>
                    <a href="/" class="nav-link px-2 text-white">Home</a>
                </li>
                <% if(isLogin){ %>
                    <li>
                        <a href="/logout" class="nav-link px-2 text-white">로그아웃</a>
                    </li>
                <% }else{ %>
                    <li>
                        <a href="/login" class="nav-link px-2 text-white">로그인</a>
                    </li>
                <% } %>
            </ul>

        </div>
    </div>
</header>
