<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./component/head.ejs',{title:'Home'})  %>
</head>
<body>

    <div class="container">
        <%- include('./component/header.ejs',{blind:false})  %>
        <div class="cover">
            <img src="https://influencer-phinf.pstatic.net/MjAyMzAyMTRfMTgx/MDAxNjc2MzU1NzQ5NTc4.oxAWqX8mo3V6FbKSZc1bejbAa80uoSmrupc-NjUdOtsg.LDlQglk0KnfqBfdr3L_OSA-6bhL1QCe9JibqSby3oq4g.PNG/pc_Image.png" alt="" class="DiscoverBannerList__image___EXiPj">
        </div>

        <div class="profile">
            <a href="/user/signin" class="btn btn-primary">로그인 <i class="bi bi-arrow-right"></i></a>
        </div>
    </div>
</body>
</html>