<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./component/head.ejs',{title:'소개'})  %>
</head>
<body>
    <%- include('./component/header')  %>
    <%- include('./component/contentHead')  %>
    <h1>Hello EJS sub</h1>
    <%- include('./component/contentFoot')  %>
</body>
</html>