<header>
    <ul>
        <li><a href="/?index=1">Home</a></li>
        <li><a href="/intro">소개</a></li>
        <li><a href="/login">로그인</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
</header>